*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.body1{
    display: flex;
}

@font-face {
    font-family: myfont3;
    src: url(soria-font.ttf);
}



.left{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 3rem;
    gap: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
}
#bmi-h1-id1{
   border-bottom: #67ff01 7px solid;
    width: 300px;
    height: 180px;
}
#bmi-h1-id2{
    border-bottom: #67ff01 7px solid;
    width: 720px;
    padding-bottom: 0rem;
    height: 180px;
}
.bmi-h1{
    font-family: myfont3;
    font-size: 10rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    
    animation: slideFromleft 1.2s ease forwards;
    opacity: 0;
}
@keyframes slideFromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideFromButtom {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.bmi-p1{
    font-family: myfont3;
    font-weight: 300;
    color: rgb(67, 67, 67);
    /* border-bottom: solid 3px rgb(115, 255, 0); */
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    text-align: center;

    animation: slideFromleft 1.2s ease forwards;
    opacity: 0;
}


#weight-guide{
        animation: slideFromButtom 1s ease forwards;
    opacity: 0;

    background-color: #74ff1893;
    /* border: solid 3px rgb(77, 255, 0); */
    padding: 2.2rem;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6em;
    /* box-shadow: 0px 0px 0px 0px rgb(85, 255, 0); */
    margin-top: 0.3rem;

}
.guide-h1{
    font-family: myfont3;
    font-size: 3rem;
    font-weight: 400;
}
.p2{
    padding-top: 2px;
    font-family: myfont3;
    font-size: 1.5rem;
    font-weight: 500;
}


.right{
    display: flex;
    flex-direction: column;
    background-color: #95ff4e36;
    border-radius: 15px;
    max-height: 680px;
    width: 42vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    gap: 1rem;
    /* justify-content:center; */
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 30px;
    margin-top: 5rem;
}
.input1{
    
    padding: 14px 50px;
    border: 2px solid #67ff01;
    border-radius: 5px;
}
.input1:focus{
    border: 2px solid #686868;
}

#label1{
    background-color: #67ff01;
    padding: 8px 90px;
    border-radius: 5px;
    font-family: myfont3;
    font-size: 1.5rem;
    margin-right: 20px;
    border: 2px solid rgb(142, 142, 142);
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67ff01;
    padding: 3px 220px;
    padding-top: 7px;
    border-radius: 5px;
    border: 2px solid rgb(156, 156, 156);
    font-family: myfont3;
    font-size: 2.2rem;
    /* margin-top: 1.7rem; */
    /* margin-bottom: 150px; */
}
.button1:hover{
    border: 2px solid #464646;
    transition: all 0.11s linear;

}
.result-p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myfont3;
    font-size: 2.2rem;
    color: #000000;
    width: 100px;
    border-bottom: solid 4px #67ff01;
}

.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#result{
    margin-top: 2rem;
    font-family: myfont3;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    
}
#comment{
    font-family: myfont2;
    font-size: 2rem;
    text-align: center;
    
}
.footer{
    color: rgb(181, 181, 181);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-right: 3rem;
}

@media (max-width: 1000px) {
    .body1 {
        flex-direction: column;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left {
        margin: 1rem 0.5rem;
        align-items: center;
    }
    #bmi-h1-id2 {
        width: 90vw;
        font-size: 4rem;
        height: 70px;
        margin-bottom: 1rem;
    }
    #bmi-h1-id1 {
        height: 70px;
        width: 40vw;
    }
    .bmi-h1 {
        font-size: 4rem;
        text-align: center;
    }
    #weight-guide {
        max-width: 90vw;
        padding: 1.2rem;
    }
    .right {
        width: 95vw;
        margin: 1.5rem 0.5rem;
        max-height: unset;
        padding: 1rem 0.5rem;
    }
    .box {
        margin-top: 2rem;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    .input1 {
        padding: 10px 10vw;
        font-size: 1.1rem;
    }
    #label1 {
        padding: 10px 2vw;
        font-size: 1rem;
        margin-right: 15px;
    }
    .button1 {
        padding: 10px 0;
        width: 75vw;
        font-size: 1.4rem;
    }
    .result-p {
        font-size: 1.2rem;
        width: 75vw;
    }
    #result {
        font-size: 2rem;
    }
    #comment {
        font-size: 1.2rem;
    }
}


@media (max-width: 600px) {
    .bmi-h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        text-align: center;
    }
    .bmi-p1{
        font-family: 1rem;
    }
    #bmi-h1-id2 {
        font-size: 2.5rem;
        width: 90vw;
        text-align: center;
        height: 50px;
        margin-top: 0.8rem;
    }
    #bmi-h1-id1 {
        height: 50px;
    }
    .left, .right {
        margin: 0.5rem 0.5rem;
        width: 90vw;
    }
    #weight-guide {
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        font-size: 0.8rem;
    }
    .guide-h1{
        font-size: 1.6rem;
    }
    .p2{
        font-size: 1.2rem;
    }
    .input1 {
        padding: 8px ;
        width: 120px;
        font-size: 1rem;
    }
    #label1 {
        padding: 8px 7vw;
        font-size: 1.1rem;
        gap: 1rem;
    }
    .button1 {
        font-size: 1.6rem;
        padding: 5px 0;
        width: 75vw;
    }
    .result-p{
        font-size: 1.6rem;
    }
    #result {
        font-size: 1.5rem;
    }
    #comment {
        font-size: 1.2rem;
    }
    .footer{
    color: rgb(151, 151, 151);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
}
